<style>
  .accordion-details {
    margin: 0.25em 0;
    padding-left: 1em;
  }

  .accordion-details[open]>summary {
    font-weight: bold;
  }

  .accordion-summary {
    display: list-item;
    cursor: pointer;
    line-height: 2rem;
    list-style-position: outside;
    padding-left: 0.5em;
  }

  .accordion-content {
    padding: 0.5em 1em;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .accordion-details[open] .accordion-content {
    opacity: 1;
  }
</style>
{% for item in page.accordion %}
<div>
  <details class="accordion-details">
    <summary class="accordion-summary">{{ item.title }}</summary>
    <div class="accordion-content">{{ item.content | markdownify }}</div>
  </details>
</div>
{% endfor %}