---
---

$light-blue: #448ade;
$lighter-blue: #459dc6;
$blue-green: #1b9cab;
$light-green: #01a0a0;
$dark-red: #a40000ed;
$darker-red: #5c0000ed;

$header-bg-color: $light-blue;
$header-bg-color-secondary: $light-green;
$section-headings-color: $light-blue;

@import "{{ site.theme }}";

.html {
    scroll-behavior: smooth;
}

.page-header {
    padding: 1rem;
}

.headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.logo {
    margin-right: 1em;
}

.btn {
    min-width: 15em;
}

.main-content {
    max-width: 80rem;
}

h1, h2, h3, h4, h5, h6 {
    a.anchor-symbol {
        padding-left: 0.375em;
        opacity: 0;
        transition: opacity 0.125s ease;
    }

    &:hover a.anchor-symbol {
        opacity: 0.26;

        &:hover, &:focus {
            opacity: 1;
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(45deg, $dark-red, $darker-red);
    height: fit-content;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0.5em;
}

.toc {
    display: none;
    padding: 1em 1em 0 0;
    font-size: large;
    color: white;

    body.menuopen & {
        display: block;
    }

    a {
        color: white;
    }
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    :first-child {
        display: none;
    }
}

.profile-item {
    @extend .btn;

    text-align: center;
    margin: 1em;
    background-color: $lighter-blue;
    border-color: black;
    color: white;

    &:hover {
        background-color: lighten($lighter-blue, 10);
        border-color: lighten(black, 25);
        color: white;
        cursor: pointer;
    }
}

.profile-viewer {
    border-style: none;
}
