---
---

$light-blue: #448ade;
$lighter-blue: #459dc6;
$blue-green: #1b9cab;
$light-green: #01a0a0;

$header-bg-color: $light-blue;
$header-bg-color-secondary: $light-green;

$section-headings-color: $light-blue;

@import "{{ site.theme }}";

.page-header {
    padding: 1rem;
}

.headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.logo {
    margin-right: 1em;
}

.btn {
    min-width: 15em;
}

.main-content {
    padding: 2rem 1rem;
}

h1, h2, h3, h4, h5, h6 {

    a.anchor-symbol {
        padding-left: 0.375em;
        opacity: 0;
        transition: opacity 0.125s ease;
    }

    &:hover a.anchor-symbol {
        opacity: 0.26;

        &:hover, &:focus {
            opacity: 1;
        }
    }
}

.main {
    display: flex;
}

.nav {
    background-image: linear-gradient(170deg, $light-green, $lighter-blue);
    height: fit-content;
    border-radius: 5px;
    margin: 0.3em;
}

.toc {
    display: none;
    margin-inline-start: -0.5em;
    padding-inline-end: 0.7em;
    font-size: large;
    color: white;

    body.menuopen & {
        display: block;
    }

    a {
        color: white;
    }
}
