---
---

$light-blue: #448ade;
$lighter-blue: #459dc6;
$lightest-blue: #d3e2e7;
$blue-green: #1b9cab;
$light-green: #01a0a0;
$brown: #a52a2a;
$light-brown: #d35555;
$dark-gray: #2b2d31;
$mid-gray: #4f4f4f;
$light-gray: #949ba4;
$svg-gray: #969696;
$pin-color: #d02627;
$pin-dark: #9e0608;
$pin-light: #fc7e7d;

$header-bg-color: $light-blue;
$header-bg-color-secondary: $light-green;
$section-headings-color: $light-blue;

$black-border: 2px solid black;
$white-border: 2px solid white;

$main-content-width: 76rem;

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sriracha&display=swap');
@import url('./splide.min.css');

:root {
    color-scheme: light dark;
}

html {
    overscroll-behavior: contain;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    a.anchor-symbol {
        padding-left: 0.375em;
        opacity: 0;
        transition: opacity 0.125s ease;
    }

    &:hover a.anchor-symbol {
        opacity: 0.26;

        &:hover, &:focus {
            opacity: 1;
        }
    }
}

.bordered {
    border-radius: 0.75em;

    @media (prefers-color-scheme: light) {
        background: $lightest-blue;
        border: $black-border;
    }

    @media (prefers-color-scheme: dark) {
        background: $svg-gray;
        border: $white-border;
    }
}

.not-selectable {
    -webkit-user-select: none;
    user-select: none;
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(200%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-500%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-in-top {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-in-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.slide-in-right {
    animation: slide-in-right 1s;
}

.slide-in-left {
    animation: slide-in-left 0.7s;
}

.slide-in-top {
    animation: slide-in-top 1.2s;
}

.slide-in-bottom {
    animation: slide-in-bottom 1.2s;
}

@keyframes bubble-anim {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(0.65);
    }

    75% {
        transform: scale(0.25) rotateZ(-25deg);
    }

    80% {
        transform: scale(0.25) rotateZ(25deg);
    }

    83% {
        transform: scaleY(0.95) scaleX(1.05);
    }

    86% {
        transform: scaleY(1.1) scaleX(0.9);
    }

    90% {
        transform: scaleY(0.98) scaleX(1.02);
    }

    93% {
        transform: scaleY(1.02) scaleX(0.98);
    }

    97%,
    100% {
        transform: scale(1);
    }
}

.logo {
    border-color: white;
    width: 128px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    margin-right: 1em;
    animation: bubble-anim 2.5s ease-out;
}

%btn-common {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    @extend %btn-common;

    min-width: 14.5em;
    line-height: 32pt;
    padding: 0.25em 1.5em;
    border-radius: 2em;
    max-width: 22em;

    &+.btn {
        @extend %btn-common;
    }
}

.btn-icon {
    font-size: 24pt;
    margin-right: 10pt;
    vertical-align: middle;
}

.body-content {
    display: flow-root;

    @media (prefers-color-scheme: light) {
        color: $mid-gray;
    }

    @media (prefers-color-scheme: dark) {
        background: $dark-gray;
        color: $light-gray;
    }
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0em 2em 0em 2em;

    @media (prefers-color-scheme: light) {
        color: $mid-gray;
    }

    @media (prefers-color-scheme: dark) {
        color: black
    }
}

.main-content {
    @media screen and (min-width: 85rem) {
        max-width: $main-content-width;
        margin: 1em auto 0.5em auto;
        padding: 2rem 4rem;
        background-color: rgba($light-blue, 0.05);
        border-radius: 0.75em;
    }

    @media screen and (min-width: 85rem) and (prefers-color-scheme: light) {
        border: $black-border;
    }

    @media screen and (min-width: 85rem) and (prefers-color-scheme: dark) {
        border: $white-border;
    }
}

@media (prefers-color-scheme: dark) {
    .main-content code {
        color: white !important;
        background-color: #5e5e5e !important;
    }
}

.nav {
    @extend .bordered;
    @extend .not-selectable;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    background-image: linear-gradient(45deg, $brown, $light-brown);
    height: fit-content;
    margin: 0.5em 0.85em;
    padding: 2px;
}

@keyframes toc-grow {
    from { font-size: 0%; }
    to { font-size: large; }
}

.toc {
    display: none;
    padding: 1em 1em 0 0;
    font-size: large;
    color: white;

    body.menuopen & {
        display: block;
        animation: toc-grow 0.2s;
    }

    a {
        color: white;
    }
}

.centering-container {
    display: grid;
    justify-content: center;
}

.post-it {
    @extend .not-selectable;

    background: linear-gradient(135deg, #e5c93d, 30%, #ffed87);
    width: fit-content;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.9);
    transform: rotate(-2.2deg);
    transition: transform .15s linear;

    &:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    }
}

.pin {
    position: absolute;
    top: -8px;
    left: 16px;
    width: 60px;
    height: 50px;
}

.shadow {
    position: absolute;
    top: 18px;
    left: -14px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: radial-gradient(#c9bf8d, 20%, rgba(201, 191, 141, 0));
}

.metal {
    position: absolute;
    width: 5px;
    height: 20px;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
    border-radius: 0 0 30% 30%;
    transform: rotate(50deg);
    transform-origin: bottom left;
    top: 15px;
    border-bottom: 1px solid #808080;
}

.bottom-circle {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $pin-color;
    background: radial-gradient(circle at bottom right, $pin-light, 25%, $pin-dark, 90%, $pin-color);
}

.bottom-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 20px;
    height: 30px;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    border-radius: 0 0 40% 40%;
    background: linear-gradient(to right, $pin-dark, 30%, $pin-color, 90% $pin-light);
}

.bottom-circle::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: radial-gradient(circle at right, $pin-light, 30%, $pin-color, $pin-dark 80%);
}

.welcome-headline {
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    font-weight: bold;
    margin: 1em;
}

.welcome-text {
    color: #0b0d33;
    font-family: "Sriracha", cursive;
    font-size: 14pt;
    margin: 1em
}

.note-box {
    @extend .bordered;

    border: $black-border;
    padding: 0.5em;
    background-color: rgba(red, 0.15);

    @media (prefers-color-scheme: light) {
        border-color: $light-brown;
    }

    @media (prefers-color-scheme: dark) {
        border-color: $brown;
    }
}

.youtube-iframe {
    @extend .bordered;

    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
}

.post-list {
    padding-left: 0.5em;
}

.post-item {
    display: flex;
    flex-direction: column;
    line-height: 16pt;
}

.post-link {
    cursor: pointer;
    text-decoration: underline;
}

.post-date {
    font-size: 10pt;
    opacity: 85%;
    white-space: nowrap;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 0.5em;
}

.post-title {
    margin: 0;
    line-height: 1.25;
}

.post-content {
    align-self: center;
    max-width: 60rem;
    margin-top: 1em;
}

.faq-details {
    margin: 0.25em 0;
    padding-left: 1em;

    &[open] {
        >.faq-summary {
            font-weight: bold;
        }

        .faq-content {
            opacity: 1;
        }
    }
}

.faq-summary {
    display: list-item;
    cursor: pointer;
    line-height: 2rem;
    list-style-position: outside;
    padding-left: 0.5em;
}

.faq-content {
    padding: 0.5em 1em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
}

.profile-item {
    background-color: unset;
    border: unset;
    font-size: 12pt;
    width: 12em;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    padding: unset;
    text-align: unset;
    text-decoration: underline;
}

.viewer-dialog {
    @extend .bordered;

    max-width: 80em;
    max-height: 53em;
    z-index: 2;

    @media only screen and (orientation: landscape) {
        width: 80%;
        height: 95%;
    }

    @media only screen and (orientation: portrait) {
        width: 95%;
        height: 65%;
    }
}

.viewer-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
}

.viewer-dialog-tall {
    @extend .viewer-dialog;

    @media only screen and (orientation: portrait) {
        height: 85%;
    }
}

.viewer-iframe {
    width: 100%;
    height: 99%;
    padding-top: 3em;
    padding-bottom: 0.5em;
    padding-right: 0.25em;
    border-style: none;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
}

.close-button {
    @media (prefers-color-scheme: light) {
        border: black;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
    }

    @media (prefers-color-scheme: dark) {
        border: white;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
    }

    background-color: unset;
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-left: -28px;

    &:before, &:after {
        @media (prefers-color-scheme: light) {
            background-color: black;
        }
    
        @media (prefers-color-scheme: dark) {
            background-color: white;
        }

        position: absolute;
        content: '';
        width: 2px;
        height: 16px;
        left: 9px;
        top: 2px;
    }

    &:hover {
        opacity: 0.65;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.splide {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide__list {
    max-height: 600px;
    text-align: center;
}

.splide__arrow {
    bottom: -2.5em;
    top: unset;
    transform: unset;
}

.splide__arrow--next {
    left: 65%;
    right: unset;
}

.splide__arrow--prev {
    left: unset;
    right: 65%;
}

.splide__pagination {
    bottom: -1.9em;
}

.splide__pagination__page.is-active {
    background: $light-blue;
}

.splide__track {
    max-width: 100% !important;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100% !important;
}

.splide__slide img {
    margin: 0px auto 0px auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

img {
    @extend .bordered;
}

.page-header {
    @extend .not-selectable;

    padding: 1rem;

    @media screen and (min-width: 110rem) {
        width: fit-content;
        min-width: $main-content-width;
        margin: 0.5em auto 1em auto;
        border-radius: 0.75em;
    }

    @media screen and (min-width: 110rem) and (prefers-color-scheme: light) {
        border: $black-border;
    }

    @media screen and (min-width: 110rem) and (prefers-color-scheme: dark) {
        border: $white-border;
    }
}

.headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
