<!DOCTYPE html>
<html class="html" lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ './assets/css/style.css?v=' | append: site.github.build_revision }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/bwRavencl/ControllerBuddy/master/icon.ico">
</head>

<body>
  <div class="nav slide-in-right">
    {% include toggle-menu.html %}
    <div class="toc">
      {% include toc.html html=content sanitize="true" h_min=2 h_max=2 %}
    </div>
  </div>

  <section class="page-header slide-in-top">
    <div class="headline">
      <img src="{{ site.logo }}" alt="ControllerBuddy Logo" class="logo">
      <div>
        <h1 class="project-name slide-in-right">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline slide-in-left">{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </div>
    <div class="slide-in-right">
      {% if site.github.is_project_page %}
      <a href="{{ site.github.repository_url }}" target="_blank" class="btn"><i
          class="btn-icon fab fa-github"></i>GitHub</a>
      <a href="{{ site.discord_url }}" target="_blank" class="btn"><i class="btn-icon fab fa-discord"></i>Discord</a>
      {% endif %}
      {% if site.show_downloads %}
      <a href="{{ site.download_app_url }}" target="_blank" class="btn"><i class="btn-icon fas fa-download"></i>Download
        App</a>
      <a href="{{ site.download_profiles_url }}" target="_blank" class="btn"><i
          class="btn-icon fas fa-download"></i>Download Profiles</a>
      <a href="{{ site.install_script_url }}" target="_blank" class="btn"><i class="btn-icon fas fa-scroll"></i>Install
        Script</a>
      {% endif %}
    </div>
  </section>

  <div class="slide-in-bottom">
    <section class="main-content">
      {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-symbol" %}
    </section>
  </div>

  <script type="text/javascript">
    const profileIframeContainer = document.getElementById('profile-iframe-container');
    const profileIframe = document.getElementById('profile-iframe');
    const documentClickListener = (e) => {
      if (e && e.target && e.target.className && !e.target.className.startsWith('carousel__'))
        closeProfileViewer();
    }

    function openProfileViewer(event, relative_path) {
      if (event)
        event.stopPropagation();
      profileIframeContainer.classList.remove('fade-out');
      profileIframeContainer.classList.toggle('fade-in', true);
      profileIframe.setAttribute('src', relative_path);
      document.addEventListener('click', documentClickListener);
      window.location.href = window.location.origin + '#'  + relative_path;
    }

    function closeProfileViewer() {
      document.removeEventListener('click', documentClickListener);
      profileIframe.removeAttribute('src');
      profileIframeContainer.classList.remove('fade-in');
      profileIframeContainer.classList.toggle('fade-out', true);
      window.location.href = window.location.origin
    }

    const relative_path = location.hash?.slice(1).match("^profiles\/.+\.html$")?.at(0)
    if (relative_path?.match('^profiles\/.+\.html$'))
      openProfileViewer(null, relative_path);
  </script>

  <script type="text/javascript" src="js/lightbox.js"></script>
  <link rel="stylesheet" href="css/lightbox.css">
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
</body>

</html>
