<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ './assets/css/style.css?v=' | append: site.github.build_revision }}">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <section class="page-header">
    <div class="headline">
      <img src="{{ site.logo }}" alt="ControllerBuddy Logo" class="logo">
      <div>
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </div>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" target="_blank" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.download_url }}" target="_blank" class="btn">Download</a>
    {% endif %}
  </section>

  <div class="main">
    <div class="nav">
      {% include toggle-menu.html %}
      <div class="toc">
        {% include toc.html html=content sanitize="true" h_min=2 h_max=2 %}
      </div>
    </div>

    <section class="main-content">
      {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-symbol" %}
    </section>
  </div>

  <script type="text/javascript" src="js/lightbox.js"></script>
  <link rel="stylesheet" href="css/lightbox.css">
  {% if site.google_analytics %}
  <script>
    (function (g, d, p, r) {
      g[p] = g[p] || function (a, b, c) {
        g[d] = g[d] || {}; g[d][a] = g[d][a] || []; g[d][a].push([b, c]);
      };
    })(window, 'GDPRGoogleAnalytics', 'gdpr');

    gdpr('dependency', 'https://www.googletagmanager.com/gtm.js?id={{ site.google_analytics }}');
  </script>
  <script src="https://www.gdpr-google-analytics.com/analytics.js"></script>
  {% endif %}
</body>

</html>