---
google_analytics: G-MM2RFZFV1L
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/bwRavencl/ControllerBuddy/master/icon.ico">
  <script type="text/javascript" src="/assets/js/splide.min.js"></script>
</head>

<body>
  {{ content }}

  <span class="centering-container">Copyright &copy; 2021-{{ site.time | date: "%Y" }} {{ site.author.name }}</span>

  <script async src="https://www.googletagmanager.com/gtag/js?id={{ page.google_analytics }}"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ page.google_analytics }}');
  </script>
</body>

</html>
