---
layout: default
---

<div class="body-content">
  <section class="page-header slide-in-top">
    <div class="headline">
      <img src="{{ site.logo }}" alt="ControllerBuddy Logo" class="logo">
      <div>
        <h1 class="project-name slide-in-right">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline slide-in-left">{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </div>
    <div class="button-container slide-in-right">
      <a href="https://github.com/bwRavencl/ControllerBuddy" target="_blank" class="btn"><i class="btn-icon fab fa-github"></i>GitHub</a>
      <a href="https://discord.gg/2Sg9ggZrAp" target="_blank" class="btn"><i class="btn-icon fab fa-discord"></i>Discord</a>
      <a href="https://github.com/bwRavencl/ControllerBuddy-Install-Script" target="_blank" class="btn"><i class="btn-icon fas fa-scroll"></i>Install Script</a>
      <a href="https://github.com/bwRavencl/ControllerBuddy-Flatpak" target="_blank" class="btn"><i class="btn-icon fas fa-cube"></i>Flatpak</a>
      <a href="https://github.com/bwRavencl/ControllerBuddy-Linux-Guides" target="_blank" class="btn"><i class="btn-icon fab fa-linux"></i>Linux Guides</a>
    </div>
  </section>

  <div class="nav slide-in-right">
    {% include toggle-menu.html %}
    <div class="toc">
      {% include toc.html html=content sanitize="true" h_min=2 h_max=2 %}
    </div>
  </div>

  <div class="slide-in-left">
    <section class="main-content">
      {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-symbol" generateId="true" %}
    </section>
  </div>

  <span class="centering-container">Copyright &copy; 2021-{{ site.time | date: "%Y" }} {{ site.author.name }}</span>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    new Splide('.splide', {
      "type": "slide",
      "gap": 50,
      "rewind": true,
      "pagination": true,
      "autoplay": true,
      "reducedMotion": {
        "autoplay": true,
        "speed": 400
      }
    }).mount();
  });

  const viewerDialog = document.getElementById('viewer-dialog');
  const viewerIframe = document.getElementById('viewer-iframe');
  const documentClickListener = (event) => closeViewer();

  function toTitleCase(str) {
    const minorWords = [
      'a', 'an', 'and', 'as', 'at', 'but', 'by', 'for', 'in', 'nor', 'of', 'on', 'or', 'so', 'the', 'to', 'up', 'yet'
    ];
    let titleCased = str.toLowerCase().replace(/\b\w/g, c => c.toUpperCase());
    let words = titleCased.split(' ');
    for (let i = 0; i < words.length; i++) {
      let word = words[i];
      if (i !== 0 && i !== words.length - 1) {
        if (minorWords.includes(word.toLowerCase())) {
          words[i] = word.toLowerCase();
        }
      }
    }
    return words.join(' ');
  }

  function openViewer(event, relative_path) {
    event?.stopPropagation();
    if (relative_path.startsWith('news/')) {
      viewerDialog.classList.add('viewer-dialog-tall');
    } else {
      viewerDialog.classList.remove('viewer-dialog-tall');
    }
    viewerIframe.contentWindow.location.replace(relative_path);
    viewerDialog.showModal();
    viewerDialog.classList.remove('fade-out');
    viewerDialog.classList.toggle('fade-in', true);
    document.addEventListener('click', documentClickListener);
    const hashPath = '#'  + relative_path;
    if (!event)
      window.location.href = window.location.origin + hashPath;
    else if (event.type === 'popstate')
      history.replaceState(null, null, hashPath);
    else
      history.pushState(null, null, hashPath);

    if (relative_path.startsWith('profiles/')) {
      document.title = '{{ site.title }} | ' + relative_path.replace(/^profiles\//, '').replace(/.html$/, '').replace('_', ' ');
    } else if (relative_path.startsWith('news/')) {
      document.title = '{{ site.title }} | ' + toTitleCase(relative_path.replace(/^news\//, '').replaceAll('-', ' '));
    }
  }

  function closeViewer(event) {
    document.removeEventListener('click', documentClickListener);
    viewerDialog.classList.remove('fade-in');
    viewerDialog.classList.toggle('fade-out', true);
    setTimeout(() => {
        viewerDialog.close();
        viewerIframe.contentWindow.location = 'about:blank';
    }, 500);
    if (event?.type === 'popstate' && location.hash) {
      history.scrollRestoration = 'manual';
      window.location.href = window.location.origin + location.hash;
    } else {
      const url = event?.type === 'popstate' ? location.hash : '/';
      if (event?.type === 'popstate')
        history.replaceState(null, null, url);
      else
        history.pushState(null, null, url);
    }
    document.title = '{{ site.title }} | {{ site.description }}';
  }

  function handleRelativePath(event) {
    event?.stopPropagation();
    const hash_path = location.hash?.slice(1);
    const profile_regex = /^profiles\/.+\.html$/;
    const news_regex = /^news\/.+\/?$/;
    let relative_path = null;
    if (hash_path?.match(profile_regex)) {
      relative_path = hash_path.match(profile_regex)?.at(0);
      openViewer(event, relative_path);
    } else if (hash_path?.match(news_regex)) {
      relative_path = hash_path.match(news_regex)?.at(0);
      openViewer(event, relative_path); 
    } else if (event?.type === 'popstate' || hash_path === '') {
      closeViewer(event);
    }
  }

  window.addEventListener('popstate', (event) => handleRelativePath(event));

  handleRelativePath(null);
</script>